</head>
<body>
  <header class="header">
    <h1 class="header__title">Sistema de Registro de vacunas</h1>
  </header>
 
  <nav class="nav">
    <div class="user">
      <div class="user__photo">
        <img class="user__photo__img" src="<%=user.photo%>">
      </div>
      <div class="user__detail">
        <div class="user__detail__name">
          <spam><%=user.name%></spam>
        </div>
        <div class="user__detail__access">
          <spam><%=user.access%></spam>
        </div>
      </div>
    </div>
    <div class="navi">
      <ul class="navi__ul">
        <a href="/"><li class="item">Inicio</li></a>
        <a href="/registro-empleado"><li class="item">Registro de empleados</li></a>
        <a href="/lista-empleados"><li class="item">Lista de trabajadores</li></a>
        <a href="/lista-usuarios"><li class="item">Lista de usuarios</li></a>
        <a href="logout"><li class="item">Cerrar sesión</li></a>
      </ul>
    </div>
    
  </nav>
  <main class="main">