<%- include("partials/header",{user:user}) %>
<link href="css/home.css" rel="stylesheet">
<%- include("partials/body") %>
  
  <section class="section-home">
    <h1>Resumen de trabajadores</h1>
    <article class="card-1">
      <h2>Trabajadores con 3 dosis</h2>
      <p>Tienes registrado a 34 trabajadores con 3 dosis</p>
    </article>
    <article class="card-2">
      <h2>Trabajadores con 2 dosis</h2>
      <p>Tienes registrado a 221 trabajadores con 2 dosis</p>
    </article>
    <article class="card-3">
      <h2>Trabajadores con 1 dosis</h2>
      <p>Tienes registrado a 13 trabajadores con 1 o ninguna dosis</p>
    </article>
  </section>


<%- include("partials/footer") %>